.App {
  margin: 25px;
  .navbar-brand {
    font-weight: bold;
  }

  .navbar-default {
    opacity: 0.7;
    // background: #7d7e7d; /* Old browsers */
    // background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 57%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 57%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(
    //   to bottom,
    //   #7d7e7d 0%,
    //   #0e0e0e 57%
    // ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );

    background: rgb(0, 183, 234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 183, 234, 1) 0%,
      rgba(0, 158, 195, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(0, 183, 234, 1) 0%,
      rgba(0, 158, 195, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */

    .navbar-nav > li > a {
      color: #fff;
    }

    .navbar-brand {
      color: #fff;
    }

    .navbar-nav > .active > a {
      background-color: #808080;
    }
  }
}
